body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6ff;
    color: #222;
}

/* HEADER */
header {
    text-align: center;
    padding: 70px 20px;
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    
}
header q {
    animation: fadeDown 1s ease-in-out;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
header h1 {
    font-size: 42px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

/* BUTTONS */
.buttons {
    margin-top: 20px;
}

.btn, .btn-outline {
    display: inline-block;
    margin: 5px;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    background: white;
    color: #4f46e5;
}

.btn-outline {
    border: 2px solid white;
    color: white;
}

/* SECTIONS */
section {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

/* GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background: white;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* PROJECT */
.project {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: white;
    margin-top: 40px;
}
@media (max-width: 600px) {
    header h1 {
        font-size: 28px;
    }

    .grid {
        flex-direction: column;
    }
}